*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.scr{
  background: #eee;
}
.wid{
  /* border: 1px solid black; */
}
#outer-mod{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
}
#close-mod-btn img{
  position: fixed;
  top:5vh;
  right:5vw;
  width: 5vw;
  margin: 15px 20px 0 0 ;
  background:white;
}
#mod{
  border-radius: 10px;
  background: white;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top:5vh;
  left:5vw;
  padding: 15px 20px;
}
#inner-mod{
  
}
/* moddelbtn */
#inner-mod button{
  float:right;
  margin-top: 3px;
}

/* libscr */
/* shelfwid */
.shelf{
  width: 90vmin;
  margin:auto;
}
.book{
  float:left;
  width: 26vmin;
  height:39vmin;
  margin: 2vmin 2vmin;
  padding: 5px;
  border: 1px solid #a2a9c4;
  background: #c0c8e8;
  color: #1c2230;
  box-shadow: 3px 3px 3px #999;
  text-align:center;
  font-size:0.8em;
}
/* bookscr */
/* panelwid */
.panel{
  border-bottom: 2px solid #d8dad3;
}
#inner-top-panel{
  padding: 3px 10px;
}
/* progressbar */
#progress-bar{
  text-align:center;
  color:#aaa;
  font-size:0.9em;
}
/* pagewid*/
#inner-page{
  font-size: 2.4em;
  width: 100%;
  height: 100%;
  margin-top: -5px;
  padding: 0 10px;
}

/* nav */
.navbar{
  /* padding-left:1vw; */
}
.navbtn{
  background:white;
  float:left;
  height:100%;
  border-right:2px solid #d8dad3;
  border-radius: 10px 5px 0 0;
  width: 25vw;
  text-align:center;
  line-height:2em;
  padding: 0 10px;
}
.navbtn:last-of-type{
}
.navbtn img{
  max-width: 100%;
  max-height:100%;
  padding: 6px;
}
/* pagerange */
.outer-pri{
  position:fixed;
  bottom: 15vh;
  width: 90%;
  background:red;
  height:50px;
  z-index: 10;
}
.page-range-input{
}
/* end pagerange */
